params.modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

process {
    cpus   = 2
    memory = 3.GB
    time   = 2.h
}

profiles {
    docker {
        docker.enabled     = true
        docker.runOptions  = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
